In [41]:
import pandas as pd
import numpy as np
import zipfile
from sqlalchemy import create_engine

In [42]:
!chmod 600 /home/jovyan/.kaggle/kaggle.json

### Loading the Dataset

In [43]:
!kaggle datasets download -d shivamb/netflix-shows

Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0
netflix-shows.zip: Skipping, found more recently modified local copy (use --force to force download)

In [44]:
zip_file_path = 'netflix-shows.zip'

with zipfile.ZipFile(zip_file_path, 'r') as z:
    inside_zip_file_names = z.namelist()
    csv_file = [f for f in inside_zip_file_names if f.endswith('.csv')][0]
    with z.open(csv_file) as f:
        nflix = pd.read_csv(f)

In [45]:
nflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### Conecting to PostgreSQL

In [52]:
# Set up the connection string
connection_string = 'postgresql+psycopg2://jovyan:postgres@127.0.0.1:8765/rsm-docker'

# Create the engine
engine = create_engine(connection_string)
conn=engine.connect()

In [53]:
nflix.to_sql('nflix', con=engine, if_exists='append', index=False)

807

In [54]:
conn.close()

### EDA to support Data changes

In [49]:
nflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [50]:
nflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [51]:
max_lengths = {}

for column in nflix.columns:
    max_lengths[column] = nflix[column].dropna().astype(str).map(len).max()

max_lengths

{'show_id': 5,
 'type': 7,
 'title': 104,
 'director': 208,
 'cast': 771,
 'country': 123,
 'date_added': 19,
 'release_year': 4,
 'rating': 8,
 'duration': 10,
 'listed_in': 79,
 'description': 248}

In [57]:
# Filter rows where title is "Love in a Puff" regardless of case
title_to_search = 'Death note'.lower()
death_note_rows = nflix[nflix['title'].str.lower() == title_to_search]

# Print the filtered rows
print(death_note_rows)

     show_id     type       title      director  \
5318   s5319    Movie  Death Note  Adam Wingard
5751   s5752  TV Show  DEATH NOTE           NaN

                                                   cast        country  \
5318  Willem Dafoe, Nat Wolff, Lakeith Stanfield, Ma...  United States
5751  Kappei Yamaguchi, Alessandro Juliani, Mamoru M...          Japan

            date_added  release_year rating  duration  \
5318   August 25, 2017          2017  TV-MA   100 min
5751  October 15, 2016          2006  TV-14  1 Season

                                              listed_in  \
5318                           Horror Movies, Thrillers
5751  Anime Series, Crime TV Shows, International TV...

                                            description
5318  Light Turner finds a supernatural notebook and...
5751  When a Japanese high schooler comes into posse...